#detail-container{
    max-width: 1000px;
    margin: 0 auto;
}

#detail-header{
    margin: 0.7em 0;
}


#detail-container .info{
    text-align: center;
    opacity: 0.7;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin-top: 80px;
    margin-bottom: 2em;
    color: #333333;

}

#detail-container .ui.segment{
    max-width: 400px;
    cursor : pointer;
    border: 2px solid transparent;
    padding: 30px 20px 50px 20px;
    display: block;
    background: rgb(255, 255, 255);
    box-shadow: rgba(77, 105, 97, 0.15) 0px 10px 20px 0px;
    border-radius: 6px;
    margin-bottom: 50px;
}

#detail-container .ui.segment.fail{
    min-height: 300px;
}

#detail-container .ui.segment{
    margin: 0 auto;
}

#detail-container .ui.segment:hover{
    border:2px solid rgb(38, 202, 154);
}

#detail-container .below-image{
    font-size: 20px;
    color: #242424;
    padding-top: 15px;
}



#detail-container .ui.segment img{
    max-width: 128px;
}

#detail-container{
    padding: 0.5em 0;
}

#detail-container .muhammet-back{
    cursor: pointer;
    font-weight: 500;
    line-height: 50px;
    color: rgb(38, 202, 154);
}
